# Node deps
node_modules/
server/node_modules/
client/node_modules/

# Builds
client/dist/

# Env files
.env
server/.env
client/.env

# IDE / OS
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-error.log*
